* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 200px;
  color: white;
  min-height: 100vh;
  background-color: black;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgb(0, 0, 0, 0.8)
    ),
    url("/img/night-city.jpg");
  background-size: cover;
  font-family: "Nunito Sans", sans-serif;
}

header {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  color: white;
  background-color: rgba(255, 255, 255, 0.185);
  height: 35px;
  width: 275px;
  border-radius: 5px;
  border: none;
  outline: none;
}

input::placeholder {
  color: white;
  opacity: 1;
}

.temperature {
  font-weight: 800;
}

.title-box {
  display: flex;
  flex-direction: column;
}

.title-box h1 {
  font-size: 5rem;
  font-weight: 600;
  margin-top: -20px;
}

.title-box h2 {
  font-weight: 500;
  font-size: 2rem;
}

.number-info {
}

.number-info span {
  line-height: 6rem;
  font-size: 2rem;
}
.temperature {
  border-bottom: 0.1rem solid white;
  display: flex;
  align-items: flex-start;
  font-size: 10rem;
  padding-left: 20px;
}

.bottom-container {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.wind-container {
  display: flex;
}

.humidity-container {
  display: flex;
}

.wind-label {
  margin-right: 20px;
}

.humidity-label {
  margin-right: 20px;
}

.wind {
}

.humidity {
}
